<div class="wrapper bg-white border shadow-sm py-3">
    <h2 class="text-uppercase">Register</h2>
    
    <form action="/register" method="POST" class="login-form">
        <input placeholder="USERNAME" name="username" type="text" class="form-control border border-dark my-3">
        <input placeholder="EMAIL" name="email" type="text" class="form-control border border-dark my-3">
        <input type="password" name="password" placeholder="PASSWORD" class="form-control border border-dark my-3">
        <input type="password" name="confirm_password" placeholder="CONFIRM PASSWORD" class="form-control border border-dark my-3">

        <button type="submit" name="login">Register</button>
    </form>
</div>